PORT=5000
AUTH_URL=https://toolify-1-auth-service.onrender.com
TOOLS_URL=https://toolify-2-tools-service.onrender.com
FAVORITES_URL=https://toolify-4-favorites-service.onrender.com
NOTIFY_URL=https://toolify-3-notifications-service.onrender.com
MONGO_URI=mongodb+srv://viddeveloper678_db_user:Nw9ixhI9FocH6K6E@cluster0.s24ffuk.mongodb.net/toolify
